.arial_base_font {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.base_24 {
  @extend .arial_base_font;
  font-size: 24px;
}

.base_12 {
  @extend .arial_base_font;
  font-size: 12px;
}

.base_18 {
  @extend .arial_base_font;
  font-size: 18px;
}

.base_14 {
  @extend .arial_base_font;
  font-size: 14px;
}